*/bin/
*/obj/
*.user.js
*.user.js.txt
*.ico
!chrome-api-emulator.user.js
Cycloside.zip
Cycloside/AllFiles.txt
Cycloside/AvaloniaProjectSource.txt
Cycloside/output.ps1
allfiles.txt
AllFiles.txt

# Ignore build artifacts
bin/
obj/
Cycloside/CombinedCode.txt
